$small: 480px;
$medium: 768px;
$high: 1200px;
$very-high: 1400px;

.tree {
  width: 23em;
  height: 23em;
  display: block;
  position: relative;
  margin: 0 auto;
}

.tree-shake {
  animation: shake 3s ease-in-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: $small) {
  .tree {
    width: 10em;
    height: 10em;
  }
}

@media (max-width: $medium) {
  .tree {
    width: 25em;
    height: 25em;
  }
}

/// Apple

